html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #252525 !important;
    font-family: 'Montserrat', sans-serif !important;
   
}

#bodyFull {
    padding-left: 6% !important;
    padding-right: 6% !important;
    margin-top: 6%;
    padding-bottom: 300px;
    color: white;

}

#navbarFull {
    background-color: rgba(37, 37, 37, 0.69) !important;
    padding: 6px;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.7s; /* Transition effect when sliding down (and up) */
}

#logo {
    margin: 0px 0px 0px 20px
}

#logoLink {
    border: none;
}

#resume-link {
    color: rgb(0, 192, 250) !important;
    border: rgb(0, 192, 250) 1px solid !important;
    border-radius: 5.5px !important;
    font-size: 13px !important;
    margin: 5px 20px 0px 10px !important;
    transition: 0.3s;
    padding: 5px 10px 6px 10px !important;
}

#resume-link:hover {
    color: rgb(255, 0, 0) !important;
    border: rgb(255, 0, 0) 1px solid !important;
    box-shadow: 0 0px 10px rgb(255, 0, 0) !important;
    background-color: #25252500 !important;
}

#projectHeader {
    font-weight: 600 !important;
    font-size: 50px !important;
    color: rgb(255, 0, 98);
    margin-bottom: 30px;
}


#main-image {
    border-radius: 12px;
    transition: 0.5s ease;
    margin-bottom: 80px;
}

#main-image:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.479) !important;
}

.container {
    color: white;
}

.title-column {
    font-weight: 600;
    color: #A7E7CF;
}

.value-column {
    font-size: 14px;
}

hr { 
    background-color: rgb(255, 255, 255); 
    height: 1px; 
    border: 0; 
}

.heading {
    margin-top: 100px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #FF9900;
    
}

.bodyText {
    font-size: 15px;
    font-weight: 300;
}

strong {
    font-weight: 700 !important;
}

.interviews {
    padding: 26px;
    font-size: 15px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 8px;
    width: 90%;
    margin: 12px;
    transition: 0.4s;
}

.interviews:hover {
    border: 1px solid rgb(255, 255, 255) !important;
    box-shadow: 0 0px 7px rgba(238, 238, 238, 0.479) !important;
}


.blocks {
    padding: 26px;
    font-size: 15px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 8px;
    width: 90%;
    margin: 12px;
    transition: 0.4s;
}

.blocks:hover {
    border: 1px solid rgb(255, 255, 255) !important;
    box-shadow: 0 0px 7px rgba(238, 238, 238, 0.479) !important;
}

.blocks h5{
    font-style: normal;
    font-weight: 500;
    color: #26ece2 !important;
    margin-bottom: 18px;
    font-family: ambroise-std, serif;
font-style: oblique; 
font-size: 25px;
 }

.blocks p{
    font-style: normal;
    font-size: 15px;
}

.personas {
    border-radius: 8px;
    transition: 0.5s ease;
    margin-bottom: 22px;
    margin-top: 24px;
}

.personas:hover {
    transform: scale(1.01);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.479) !important;
}

.personaLabel {
    font-weight: 300;
    color: #26ece2;
    font-family: ambroise-std, serif;
    font-style: italic; 
    font-size: 20px;
}


.goalBlock {
    padding: 26px;
    font-size: 24px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 8px;
    width: 90%;
    margin-top: 30px;
    transition: 0.4s;
    font-style: italic;
    font-family: ambroise-std, serif;
    font-style: italic; 
}

.goalBlock p{
    
    margin-top: 0px !important;
    margin-bottom: 0px !important;
 
}

.goalBlock:hover {
    border: 1px solid rgb(255, 255, 255) !important;
    box-shadow: 0 0px 7px rgba(238, 238, 238, 0.479) !important;
}

.mockup {
    border-radius: 8px;
    transition: 0.4s ease;
    margin-bottom: 22px;
    margin-top: 24px;
}

.mockup:hover {
    transform: scale(1.06);
}

.mockup_description {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.final-mockup {
    border-radius: 40px;
    transition: 0.4s !important;
}

.final-mockup:hover {
    transform: scale(1.02);     
}


.btn-primary {
    border: none !important;
    margin-bottom: 40px;
    margin-top: 16px;

    color: rgb(38, 236, 226) !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    background-color: rgba(255, 255, 255, 0.123) !important;
    letter-spacing: 1.3px !important;
    padding: 12px !important;
    transition: 0.5s !important;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.269) !important;
    /* color: #252525 !important; */
}

.footer {
    margin-top: 150px;
    font-family: ambroise-std, serif;
    font-style: italic; 
    font-size: 30px;
}

#back {
     color: #26ece2;
}

#back:hover{
    color: #ffffff;
    cursor: pointer;
}